table tr td {
    border: 1px solid black;
    height: 70px;
    width: 150px;
}

body {
    text-align: center;
}

body table {
    margin: auto;
}

div.splash {
    color:green;
    margin: auto;
}

.shade {
    position: absolute;
    width: 450px;
    height: 230px;
    margin: 0 auto;
    left: 455px;
}